/* color text */

.blanc{
    color: aliceblue;}
    
.BLACK{
        color: rgb(0, 0, 0);  
    }

/*  taille h3 */

 .body h3{
        text-align: center;
        padding-top: 3%;
        font-weight: 600;
        color: rgb(255, 255, 255);  
      
      
          }
      /*  css p */
    
.body p{
        text-align: center;
        font-family: "Poppins", sans-serif;
        margin-bottom: 3%;
        color: rgb(255, 255, 255);  

      
    }

    .body{
        background-color: #232222;

    }