div {
    font-family: "Poppins", sans-serif;
    /* background-image: url("https://t4.ftcdn.net/jpg/01/74/21/25/360_F_174212531_cerVf4uP6vinBWieBB46p2P5xVhnsNSK.jpg"); */
}
/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }  */